/* Reset browser impostazioni di default */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 .container-app{
    height: 100vh;
    background-color: black;
    flex-direction: column;
    color: white;

 }

 .flex {
    display: flex;
   }

  #speaker {
    background-color: grey;
    opacity: 0.5;
    flex-direction: row;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
  } 

 main {
    flex-grow: 2;
 }

 footer {
    background-color: rgb(109, 109, 109);
 }

 .cardcontainer {
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
 }

 .card {
    width: calc(98%/7);
    position: relative;
 }

 p {
    position: absolute;
    left: 5px;
    bottom: 10px;
 }