/* Reset browser impostazioni di default */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 .container-app{
    height: 100vh;
    background-color: black;
    flex-direction: column;
    color: white;
    display: flex;

 }

 .flex {
    display: flex;
   }

    .pad20px {
        padding: 20px;
    }

   header {
    justify-content: end;
    height: 28px;
   }

   .frecce {
    background-color: #8080807a;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    align-items: center;
   }

  #speaker {
    background-color: #8080807a;
    flex-direction: row;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
  } 

 main {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 91%;
 }

 footer {
    background-color: rgb(51, 51, 51);
    justify-content: space-between;
 }

 .cardcontainer {
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    padding-bottom: 93px;
 }

 .card {
    height: calc(100%/5);
    position: relative;
 }

 .card img {
   padding: 5px;
   position: relative;
 }

 p {
    position: absolute;
    left: 5px;
    bottom: 10px;
 }

 #endmeeting {
    background-color: grey;
    color: #921f1f;
    font-family: sans-serif;
    font-weight: bold;
 }

 .iconvideo {
    margin-left: 10px;
 }

 .icona {
    padding-left: 10px ;
    padding-right: 10px;
 }

 .icona i {
    justify-content: center;
 }

 .icon2 {
    justify-content: center;
    padding-bottom: 5px;
 }

 .green {
    color: greenyellow;
 }

 .padtop50 {
    padding-top: 50%;
 }